* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(138, 21, 206);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(190, 2, 247);
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    background-color: #efefef;
}

.container {
    width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    
    padding-bottom: 30px;
    padding-top: 35px;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

.sigari , .baloni {
    font-size: 20px;
    text-decoration: none;
    color: rgb(240, 21, 240);
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.sigari:hover {
    color: aquamarine;
}

.variant {
    display: flex;
    gap: 80px;
}

.baloni:hover {
    color: aquamarine;
}

.shop {
    display: flex;
    justify-content: space-around;
}

.info-header {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.info {
    text-decoration: none;
    color: blueviolet;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.info:hover {
    color: aquamarine;
}

h1 {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15%;
    color: aqua;
    line-height: 50px;
    letter-spacing: 5px;
    font-family: 'Rubik Scribble';
}

h1 > span {
    color: rgb(255, 9, 255);
}

.main-content {
    text-align: center;
}

.buy {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    background-color: rgb(174, 43, 226);
    font-size: 24px;
    border: 2px solid indigo;
    font-family: 'Rubik Scribble';
}

.buy > a {
    text-decoration: none;
    color: indigo;
    font-family: 'Rubik Scribble';
    font-weight: 900;
}

.buy:hover a {
    color: rgb(255, 1, 213);
    transition: all 0.5s;
}

.buy:hover {
    cursor: pointer;
}

.buy:active {
    cursor: default;
}

.rec {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: aquamarine;
    font-size: 34px;
    font-family: 'Rubik Doodle Shadow';
    letter-spacing: 6px;
}

.rec > span {
    color: rgb(168, 216, 255);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.card {
    background-color: pink;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.card > img {
    border-radius: 10px 10px 0px 0px;
}

.card > h5 {
    font-size: 18px;
}

.card > p {
    font-weight: 600;
}

.first {
    color: red;
}

.sigaretis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.sigara {
    background-color: pink;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.sigara > img {
    border-radius: 10px 10px 0px 0px;
}

.sigara > h5 {
    font-size: 18px;
}

.sigara > p {
    font-weight: 600;
}

#sigari {
    color: aquamarine;
    text-align: center;
    font-size: 34px;
    font-family: 'Rubik Doodle Shadow';
    letter-spacing: 6px;
    margin-top: 30px;
}

#sigari > span {
    color: greenyellow;
}

.perchovocki {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#peckovki {
    font-family: 'Rubik Doodle Shadow';
    color: azure;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 34px;
    letter-spacing: 6px;
}

#peckovki > span {
    color: aquamarine;
}

.perchovocki {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 50px;
}

.pereci {
    background-color: pink;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.pereci > img {
    border-radius: 10px 10px 0px 0px;
}

.pereci > h5 {
    font-size: 18px;
}

.pereci > p {
    font-weight: 600;
}

footer {
    background-color: black;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#footer-title {
    color: rgb(203, 9, 252);
    font-family: 'Rubik Scribble';
    letter-spacing: 6px;
    font-size: 34px;
    margin-left: 50px;
}

#footer-title > span {
    color: rgb(255, 3, 255);
}

.help > p {
    color: white;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
}

.help > p > a {
    text-decoration: none;
    color: aqua;
}

.buying {
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    background-color: rgb(220, 14, 247);
    font-family: 'Rubik Doodle Shadow';
    font-weight: 900;
    font-size: 15px;
}

.buying > a {
    text-decoration: none;
    color: indigo;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

a:hover {
    transition: all 0.5s;
}

.buying:hover a {
    color: aqua;
    transition: all 0.5s;
    font-weight: 900;
    cursor: pointer;
}